* {
    padding: 0;
    margin: 0 0 5px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

p {
    font-size: 14px;
}

#container {
    background-color: hsl(0, 0%, 8%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    box-sizing: border-box;
    height: 625px;
    width: 325px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

h2 {
    font-weight: 600;
}

#address-tag {
    color: hsl(75, 94%, 57%);
    margin-bottom: 30px;
    font-weight: 700;
}

#quote {
    margin-bottom: 25px;
}

#links {
    list-style: none;
}

.link {
    width: 230px;
    height: 50px;
    font-weight: 700;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.link:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}